
.box, .box-nested{
background-color: #0000ff;
color:white;
border: 1px solid white;
min-height: 50px;
text-align: center;
line-height: 50px;
padding: 5px;

}

.box-nested{
    background-color: green;
    border: 1px solid #0000ff                                           ;
    text-align: center;   
}

